.p, h3{
    display: inline;
}


#mediaTotal{
    /* text-decoration: underline; */
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nota{
  display: inline;
}

.navbar-fixed nav {

  /* max-width: 70%; */
}

.body{
  margin-top: 4%;
}